* {
  padding: 0;
  box-sizing: 0;
  box-sizing: border-box;
}

html {
  font: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 4rem;
}
